# Getting the address & neighborhood data from Open Data DC

List of sources:

* Address Points CSV: http://opendata.dc.gov/datasets/aa514416aaf74fdc94748f1e56e7cc8a_0?geometry=-77.281%2C38.848%2C-76.792%2C38.942
* Neighborhoods: http://opendata.dc.gov/datasets/f1c50ea5db704ed39f753f16dff964af_6?geometry=-77.502%2C38.806%2C-76.524%2C38.993    
* Sub-neighborhoods: http://opendata.dc.gov/datasets/edfec5a1434848dc9faab79dd55c1e64_7
* Data Dictionary: https://octo.dc.gov/sites/default/files/dc/sites/octo/publication/attachments/DCGIS_MarDataDictionary.pdf
* More info about assessment neighborhoods: https://otr.cfo.dc.gov/sites/default/files/dc/sites/otr/publication/attachments/ARM%20TY%202019.pdf
* Clusters and Wards: http://www.neighborhoodinfodc.org/pdfs/Ward_Cluster.pdf
* Neighborhood Clusters: https://www.neighborhoodinfodc.org/nclusters/nclusters.html

In [1]:
import pandas as pd

## Explore the CSV of addresses

In [2]:
# list of all addresses in DC (downloaded CSV):
address=pd.read_csv('data/Address_Points.csv', dtype={'ZIPCODE': object})
print(address.shape)
address.head(3)

(147116, 52)

/Users/austinlasseter/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,X,Y,OBJECTID_12,SITE_ADDRESS_PK,ADDRESS_ID,STATUS,SSL,TYPE_,ENTRANCETYPE,ADDRNUM,...,LONGITUDE,ACTIVE_RES_UNIT_COUNT,RES_TYPE,ACTIVE_RES_OCCUPANCY_COUNT,WARD_2002,WARD_2012,ANC_2002,ANC_2012,SMD_2002,SMD_2012
0,-77.000353,38.892195,832017,27746,27746,ACTIVE,0814 0018,ADDRESS,OFFICIAL,402.0,...,-77.000351,0.0,RESIDENTIAL,1.0,Ward 6,Ward 6,ANC 6C,ANC 6C,SMD 6C07,SMD 6C03
1,-76.999249,38.892652,832018,50808,50808,ACTIVE,0838 0027,ADDRESS,OFFICIAL,219.0,...,-76.999247,0.0,RESIDENTIAL,1.0,Ward 6,Ward 6,ANC 6C,ANC 6C,SMD 6C07,SMD 6C03
2,-76.999735,38.892564,832019,51065,51065,ACTIVE,0814 0818,ADDRESS,OFFICIAL,216.0,...,-76.999733,1.0,RESIDENTIAL,2.0,Ward 6,Ward 6,ANC 6C,ANC 6C,SMD 6C07,SMD 6C03

In [3]:
# It has a lot of columns, but most of them we won't be using.
address.columns

Index(['X', 'Y', 'OBJECTID_12', 'SITE_ADDRESS_PK', 'ADDRESS_ID', 'STATUS',
       'SSL', 'TYPE_', 'ENTRANCETYPE', 'ADDRNUM', 'ADDRNUMSUFFIX', 'STNAME',
       'STREET_TYPE', 'QUADRANT', 'CITY', 'STATE', 'FULLADDRESS', 'SQUARE',
       'SUFFIX', 'LOT', 'NATIONALGRID', 'ASSESSMENT_NBHD',
       'ASSESSMENT_SUBNBHD', 'CFSA_NAME', 'HOTSPOT', 'CLUSTER_', 'POLDIST',
       'ROC', 'PSA', 'SMD', 'CENSUS_TRACT', 'VOTE_PRCNCT', 'WARD', 'ZIPCODE',
       'ANC', 'NEWCOMMSELECT06', 'NEWCOMMCANDIDATE', 'CENSUS_BLOCK',
       'CENSUS_BLOCKGROUP', 'FOCUS_IMPROVEMENT_AREA', 'SE_ANNO_CAD_DATA',
       'LATITUDE', 'LONGITUDE', 'ACTIVE_RES_UNIT_COUNT', 'RES_TYPE',
       'ACTIVE_RES_OCCUPANCY_COUNT', 'WARD_2002', 'WARD_2012', 'ANC_2002',
       'ANC_2012', 'SMD_2002', 'SMD_2012'],
      dtype='object')

In [4]:
# These are the columns we're interested in.
dc_address=address[['LATITUDE', 'LONGITUDE','FULLADDRESS','ZIPCODE','ACTIVE_RES_UNIT_COUNT','ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD', 'CLUSTER_', 'WARD']]
dc_address.head()

,LATITUDE,LONGITUDE,FULLADDRESS,ZIPCODE,ACTIVE_RES_UNIT_COUNT,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CLUSTER_,WARD
0,38.892188,-77.000351,402 CONSTITUTION AVENUE NE,20002,0.0,Capitol Hill,009 C Capitol Hill,Cluster 25,Ward 6
1,38.892645,-76.999247,219 5TH STREET NE,20002,0.0,Capitol Hill,009 C Capitol Hill,Cluster 25,Ward 6
2,38.892557,-76.999733,216 5TH STREET NE,20002,1.0,Capitol Hill,009 C Capitol Hill,Cluster 25,Ward 6
3,38.892538,-76.999229,215 5TH STREET NE,20002,0.0,Capitol Hill,009 C Capitol Hill,Cluster 25,Ward 6
4,38.892187,-76.997459,626 CONSTITUTION AVENUE NE,20002,1.0,Capitol Hill,009 C Capitol Hill,Cluster 25,Ward 6

## Missing Data

In [5]:
# Any missing data on lat-long? that's the most important variable.
dc_address.isnull().sum()

LATITUDE                     0
LONGITUDE                    0
FULLADDRESS               1900
ZIPCODE                     18
ACTIVE_RES_UNIT_COUNT        1
ASSESSMENT_NBHD             60
ASSESSMENT_SUBNBHD       26871
CLUSTER_                  3123
WARD                         2
dtype: int64

## Neighborhood clusters

In [6]:
# There are 39 Neighborhood clusters. 
# One of them (18 - Brightwood Park, Crestwood, Petworth) has about 10,000 dc_addresses in it.
print(len(dc_address['CLUSTER_'].value_counts()))
dc_address['CLUSTER_'].value_counts().sort_values().tail()

39

Cluster 21     6352
Cluster 2      7500
Cluster 26     9057
Cluster 25     9179
Cluster 18    10214
Name: CLUSTER_, dtype: int64

In [7]:
# Clusters are numbered from 1 to 39 in alpha order.
clusters=pd.DataFrame(list(dc_address['CLUSTER_'].value_counts().index))
clusters[0].sort_values().head()

27     Cluster 1
11    Cluster 10
14    Cluster 11
33    Cluster 12
10    Cluster 13
Name: 0, dtype: object

In [8]:
# The mean number of residential units which are associated with each dc_address.
print(dc_address['ACTIVE_RES_UNIT_COUNT'].mean())
dc_address.groupby(['CLUSTER_'])['ACTIVE_RES_UNIT_COUNT'].mean().sort_values(ascending=False).head()
# Cluster 5 (West End, Foggy Bottom, GWU) has 13 residential units associated with the average dc_address (must be GW)

1.5780443870441492

CLUSTER_
Cluster 5     13.405814
Cluster 8      7.243298
Cluster 1      5.305741
Cluster 12     4.862490
Cluster 14     4.840823
Name: ACTIVE_RES_UNIT_COUNT, dtype: float64

## Tax-assessment neighborhoods

In [9]:
# There are also columns indicating the tax-assessment neighborhood and sub-neighborhood. Here's an example.
print(dc_address[dc_address['ASSESSMENT_NBHD']=='Georgetown'].shape)
print(dc_address[dc_address['ASSESSMENT_SUBNBHD']=='025 D Georgetown'].shape)

(3934, 9)
(489, 9)

In [10]:
# There are 70 unique assessment neighborhoods.
print(dc_address['ASSESSMENT_NBHD'].shape)
print(len(dc_address['ASSESSMENT_NBHD'].value_counts()))
dc_address['ASSESSMENT_NBHD'].value_counts(ascending=False).head()
# Old City 1 includes everything from Dupont Circle through NOMA. #2 is Eastern Market to RFK Stadium.

(147116,)
70

Old City 1          15623
Old City 2           8830
Deanwood             7552
Columbia Heights     7112
Brookland            7014
Name: ASSESSMENT_NBHD, dtype: int64

In [11]:
# There are 60 missing values.
print(dc_address['ASSESSMENT_NBHD'].isnull().sum())
print(dc_address[dc_address['ASSESSMENT_NBHD'].isnull()][['FULLADDRESS', 'ASSESSMENT_NBHD']].head()) # Most don't even have full addresses.
dc_address.dropna(subset = ['ASSESSMENT_NBHD'], inplace=True) # Delete them.
print(dc_address.shape)

60
                FULLADDRESS ASSESSMENT_NBHD
12097                   NaN             NaN
61095                   NaN             NaN
77049                   NaN             NaN
84212   600 WATER STREET SW             NaN
100037                  NaN             NaN
(147056, 9)

/Users/austinlasseter/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
# Some of the neighorhoods have a lot of addresses, and some are really short.
print(dc_address['ASSESSMENT_NBHD'].value_counts().sort_values(ascending=False).head())
print(dc_address['ASSESSMENT_NBHD'].value_counts().sort_values(ascending=False).tail())

Old City 1          15623
Old City 2           8830
Deanwood             7552
Columbia Heights     7112
Brookland            7014
Name: ASSESSMENT_NBHD, dtype: int64
National Zoological Park     50
National Arboretum           22
Anacostia Park               16
Fort Drive                    2
Glover - Archbold Parkway     2
Name: ASSESSMENT_NBHD, dtype: int64

In [13]:
# There's also another variable, called "sub-neighborhood", with 121 values. It has a lot of missing data.
print(dc_address['ASSESSMENT_SUBNBHD'].nunique())
print(dc_address['ASSESSMENT_SUBNBHD'].isnull().sum())

121
26811

In [14]:
# I'd like to use 'sub' by imputing the major neighborhood where missing, but it's too labor-intensive for now.
dc_address.drop(['ASSESSMENT_SUBNBHD'], axis=1, inplace=True)

/Users/austinlasseter/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

## Sort neighborhoods by total number of addresses

In [15]:
# Make dataframe of neighborhoods that includes each neighborhood's total number of addresses.
units=pd.DataFrame(dc_address['ASSESSMENT_NBHD'].value_counts().sort_values(ascending=False).reset_index())
print(units.shape)
units.columns=['ASSESSMENT_NBHD', 'Units']
units.head(5)

(70, 2)

    ASSESSMENT_NBHD  Units
0        Old City 1  15623
1        Old City 2   8830
2          Deanwood   7552
3  Columbia Heights   7112
4         Brookland   7014

In [16]:
# Here's another way to do exactly the same thing, only keeping the neighborhood as a column.
hoods=pd.DataFrame(address.groupby(['ASSESSMENT_NBHD'])['X'].count().sort_values(ascending=False).reset_index())
hoods.columns=['ASSESSMENT_NBHD', 'Units']
print(hoods.shape)
hoods.head()

(70, 2)

    ASSESSMENT_NBHD  Units
0        Old City 1  15623
1        Old City 2   8830
2          Deanwood   7552
3  Columbia Heights   7112
4         Brookland   7014

In [17]:
# Which neighborhood has the smallest number of address units?
print(hoods.tail(10))
# That doesn't sound right. Glover park has more than 2 houses.
hoods[hoods['ASSESSMENT_NBHD']=='Glover Park'] # Got it. It's something different.

              ASSESSMENT_NBHD  Units
60                 DC Village    145
61   St. Elizabeth's Hospital    105
62            Rock Creek Park     88
63                 Ft. McNair     59
64            DC Stadium Area     57
65   National Zoological Park     50
66         National Arboretum     22
67             Anacostia Park     16
68                 Fort Drive      2
69  Glover - Archbold Parkway      2

   ASSESSMENT_NBHD  Units
32     Glover Park   1199

Glover-Archbold Parkway is not the same as Glover Park.  
https://www.washingtonpost.com/archive/local/1991/12/12/goodbye-glover-archbold-parkway/0a64bf30-1517-4e0c-b332-599954be9bf6/?utm_term=.460f395fae08

## Sort neighborhoods by average number of residential units

In [18]:
# I also want to keep the neighborhood's average number of residential units per address.
residents=address.groupby(['ASSESSMENT_NBHD'], as_index=False)['ACTIVE_RES_UNIT_COUNT'].mean()
print(residents.shape)
residents.columns=['ASSESSMENT_NBHD', 'Residential']
residents.head()

(70, 2)

       ASSESSMENT_NBHD  Residential
0  16th Street Heights     0.737374
1  American University     0.308203
2            Anacostia     1.158228
3       Anacostia Park     0.000000
4          Barry Farms     2.084581

## Merging Datasets

In [19]:
# Bring those two datasets together.
hoods2=pd.merge(units, residents, on='ASSESSMENT_NBHD')
print(units.shape)
print(residents.shape)
print(hoods2.shape)
hoods2.head()

(70, 2)
(70, 2)
(70, 3)

    ASSESSMENT_NBHD  Units  Residential
0        Old City 1  15623     0.999232
1        Old City 2   8830     3.899989
2          Deanwood   7552     0.732256
3  Columbia Heights   7112     2.547103
4         Brookland   7014     1.258055

In [20]:
# Now merge the neighborhood data back into the address dataframe
df=pd.merge(dc_address, hoods2, on='ASSESSMENT_NBHD', how='left').drop(['ACTIVE_RES_UNIT_COUNT'], axis=1)
print(hoods2.shape)
print(dc_address.shape) 
print(df.shape) # the number of rows should stay the same. 1 column should be added.
df.tail(3)

(70, 3)
(147056, 8)
(147056, 9)

,LATITUDE,LONGITUDE,FULLADDRESS,ZIPCODE,ASSESSMENT_NBHD,CLUSTER_,WARD,Units,Residential
147053,38.902210,-77.016901,420 K STREET NW,20001,Old City 2,Cluster 8,Ward 6,8830,3.899989
147054,38.862675,-76.989665,1305 MAPLE VIEW PLACE SE,20020,Anacostia,Cluster 28,Ward 8,2212,1.158228
147055,38.897146,-77.030827,1332 F STREET NW,20045,Central-tri 3,Cluster 8,Ward 2,1118,6.292487

## Within each neighborhood, take a sample of 25 addresses

Note: Total number needs to be less than 5,000 so we can make API calls on Walkscore.

In [21]:
# Select only those addresses located in neighborhoods 75 units or less.
df1=df[df['Units']<=75]
print(df1.shape)
# Select only those addresses located in neighborhoods with more than 75 units.
df2=df[df['Units']>75]
print(df2.shape)
# Within each of these neighborhoods, select 75 random samples.
df3=df2.groupby('ASSESSMENT_NBHD').apply(lambda x: x.sample(75)).reset_index(drop=True)
print(df3.shape)
# Merge df1 and df3 back together.
df4=pd.concat([df1, df3], axis=0)
print(df4.shape)

(208, 9)
(146848, 9)
(4725, 9)
(4933, 9)

In [22]:
# Confirm that this did what we wanted it to.
df4.groupby(['ASSESSMENT_NBHD']).count().head() # Yes, it did.

,LATITUDE,LONGITUDE,FULLADDRESS,ZIPCODE,CLUSTER_,WARD,Units,Residential
ASSESSMENT_NBHD,,,,,,,,
16th Street Heights,75,75,75,75,75,75,75,75
American University,75,75,74,75,75,75,75,75
Anacostia,75,75,75,75,75,75,75,75
Anacostia Park,16,16,6,16,11,16,16,16
Barry Farms,75,75,75,75,75,75,75,75

In [23]:
# Check out the head
df4.head()

,LATITUDE,LONGITUDE,FULLADDRESS,ZIPCODE,ASSESSMENT_NBHD,CLUSTER_,WARD,Units,Residential
4323,38.868832,-77.018252,221 2ND AVENUE SW,20024,Ft. McNair,Cluster 9,Ward 6,59,0.20339
4324,38.867563,-77.018231,241 2ND AVENUE SW,20024,Ft. McNair,Cluster 9,Ward 6,59,0.20339
13059,38.907499,-76.943324,4300 ANACOSTIA AVENUE NE,20019,DC Stadium Area,Cluster 29,Ward 7,57,0.00000
13060,38.878823,-76.975420,1900 M STREET SE,20003,Anacostia Park,Cluster 26,Ward 6,16,0.00000
14448,38.872694,-76.990862,1105 O STREET SE,20003,Anacostia Park,Cluster 27,Ward 6,16,0.00000

In [24]:
# Check out the tail
df4.tail()

,LATITUDE,LONGITUDE,FULLADDRESS,ZIPCODE,ASSESSMENT_NBHD,CLUSTER_,WARD,Units,Residential
4720,38.929740,-76.964123,3032 VISTA STREET NE,20018,Woodridge,Cluster 24,Ward 5,3303,0.224947
4721,38.925779,-76.966164,3002 FRANKLIN STREET NE,20018,Woodridge,Cluster 22,Ward 5,3303,0.224947
4722,38.938105,-76.971944,2401 RANDOLPH STREET NE,20018,Woodridge,Cluster 24,Ward 5,3303,0.224947
4723,38.929389,-76.970928,2430 IRVING STREET NE,20018,Woodridge,Cluster 22,Ward 5,3303,0.224947
4724,38.937437,-76.971361,3902 25TH PLACE NE,20018,Woodridge,Cluster 24,Ward 5,3303,0.224947

In [25]:
# Save this dataset and use it to get the mobility scores from TransitScreen in the next notebook.
df4.to_csv('data/dc_addresses.csv',index=False)